.page {
  background-color: #e2c89c;
  padding: 24px;
  min-height: 100vh;
}

.pokedex-container {
  background-color: #f2f2f2; 
  border-radius: 12px;
  padding: 20px;
  box-shadow: inset 0 0 0 1px #ddd;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  
}

.pokemon-placeholder img {
  display: block;
  object-fit: contain;
  margin: 8px auto 0;
}

.pokeball-logo {
  max-width: 40px;
  margin-bottom: 20px;
  flex-shrink: 0;
  
  
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  
}

.filter-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-wrapper {
  max-width: 100%;
  flex: 1 1 250px
}

.filter {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter-bar label {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 450px) {
  .pokeball-logo{
  position: relative;
  width: 0%;
  }

  .filter-bar{
    gap: 0px;
  }

 @media (max-width: 320px) {
  .pokemon-grid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
 }
  
}
