.page {
  background-color: #e2c89c; /* พื้นหลังน้ำตาลแบบกรอบนอก */
  padding: 24px;
  min-height: 100vh;
}

.pokedex-container {
  background-color: #f2f2f2; /* ✅ สีเทาอ่อน */
  border-radius: 12px;
  padding: 20px;
  box-shadow: inset 0 0 0 1px #ddd;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
  
}

.pokemon-placeholder {
  height: 180px;
  background-color: #e0e0e0;
  border-radius: 12px;
  font-family: "Josefin Sans", sans-serif;
}