.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
  
}

.pokemon-placeholder {
  height: 180px;
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 12px;
}

.pokemon-placeholder p {
  font-size: 18px;
}

.type-icon {
  display: flex;
  align-items: center;
  justify-items: center;

}

.type-icon img {
  width: 40px;
  height: 40px;
}



