
.pokemon-placeholder {
  height: 270px;
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 12px;
  font-family: "Josefin Sans", sans-serif;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.pokemon-placeholder:hover {
  box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.15);
  transform: translateY(-4px);
}

.pokemon-placeholder p {
  font-size: 18px;
}

.type-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.type-icon img {
  width: 40px;
  height: 40px;
}

.pokemon-placeholder.bg-grass {
  background-color: #96e470;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.pokemon-placeholder.bg-fire {
  background-color: #f59755;
}

.pokemon-placeholder.bg-water {
  background-color: #93b0f3;
}

.pokemon-placeholder.bg-electric {
  background-color: #f5d762;
}

.pokemon-placeholder.bg-poison {
  background-color: #df70df;
}

.pokemon-placeholder.bg-bug {
  background-color: #ccd861;
}

.pokemon-placeholder.bg-normal {
  background-color: #ddddc3;
}

.pokemon-placeholder.bg-psychic {
  background-color: #f083a4;
}

.pokemon-placeholder.bg-rock {
  background-color: #c0ab50;
}

.pokemon-placeholder.bg-ground {
  background-color: #e0c068;
}

.pokemon-placeholder.bg-ice {
  background-color: #98d8d8;
}

.pokemon-placeholder.bg-ghost {
  background-color: #8367af;
}

.pokemon-placeholder.bg-dragon {
  background-color: #895cf1;
}

.pokemon-placeholder.bg-steel {
  background-color: #b8b8d0;
}

.pokemon-placeholder.bg-fairy {
  background-color: #f3afbe;
}

.pokemon-placeholder.bg-dark2 {
  background-color: #86827f;
}

.pokemon-placeholder.bg-flying {
  background-color: #6f6394;
}

.pokemon-placeholder.bg-fighting {
  background-color: #c2433c;
}


/* Modal Content */
.pokemon-modal .modal-content{
  background-color: #e0e0e0;
  
}

.pokemon-modal .modal-header {
  border-bottom: none;
  
}

.modal-title-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Josefin Sans", sans-serif;
}

.line {
  margin:10px 0; 
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 2px;
}

.modal-pokeball-logo {
  position: absolute;
  width: 20%;
  top:38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* คอนเท้นในmodal */
.modal-detail-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

/* Ability / Height / Weight */
.pokemon-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  
}

/* Base Stats */
.right-side {
  background: rgba(255, 255, 255, 0.25);
  padding: 12px;
  border-radius: 12px;
}

.modal-body{
    padding: 16px;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-body img {
  width: 25%;
  display: block;
  margin: 0 auto 10px;
}

.modal-body p {
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
}


/* Modal Color Type */
.pokemon-modal.bg-grass .modal-content{
  background-color: #96e470;
}

.pokemon-modal.bg-fire .modal-content{
  background-color: #f59755;
}

.pokemon-modal.bg-water .modal-content{
  background-color: #93b0f3;
}

.pokemon-modal.bg-electric .modal-content{
  background-color: #f5d762;
}

.pokemon-modal.bg-poison .modal-content{
  background-color: #df70df;
}

.pokemon-modal.bg-bug .modal-content{
  background-color: #ccd861;
}

.pokemon-modal.bg-normal .modal-content{
  background-color: #ddddc3;
}

.pokemon-modal.bg-psychic .modal-content{
  background-color: #f083a4;
}

.pokemon-modal.bg-rock .modal-content{
  background-color: #c0ab50;
}

.pokemon-modal.bg-ground .modal-content{
  background-color: #e0c068;
}

.pokemon-modal.bg-ice .modal-content{
  background-color: #98d8d8;
}

.pokemon-modal.bg-ghost .modal-content{
  background-color: #8367af;
}

.pokemon-modal.bg-dragon .modal-content{
  background-color: #895cf1;
}

.pokemon-modal.bg-steel .modal-content{
  background-color: #b8b8d0;
}

.pokemon-modal.bg-fairy .modal-content{
  background-color: #f3afbe;
}

.pokemon-modal.bg-dark2 .modal-content{
  background-color: #86827f;
}

.pokemon-modal.bg-flying .modal-content{
  background-color: #6f6394;
}

.pokemon-modal.bg-fighting .modal-content{
  background-color: #c2433c;
}

@media (max-width: 768px) {

  /* ลดช่องว่างรวม */
  .modal-detail-body {
    gap: 12px;              /* จากเดิม 20px+ */
    padding: 0 15px;
  }

  /* ข้อความ */
  .pokemon-details,
  .modal-detail-body p {
    font-size: 0.95rem;
  }
}

@media (max-width: 450px) {

  .modal-body > img {
    max-width: 120px;
    display: block;
    margin: 0 auto 12px;
  }

  .line {
    margin: 12px 0;
  }

  .modal-pokeball-logo{
    width: 0;
  }

  .modal-detail-body {
    gap: 16px;
  }

  
  .pokemon-details {
    font-size: 0.9rem;
    margin-bottom: 6px;
  }

  .modal-detail-body > div:right-side {
    background: rgba(255, 255, 255, 0.25);
    padding: 12px;
    border-radius: 12px;
  }

  .modal-detail-body > div:last-child p {
    display: flex;
    margin: 4px 0;
    font-size: 0.9rem;
  }

  /* title */
  .modal-title-center {
    font-size: 1.2rem;
    text-align: center;
  }
}




